html {
  font-size: 100% !important;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1.2;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

html {
  --side-margin: 7.5%;
}

@media only screen and (max-width: 1000px) {
  html {
    --side-margin: 2.5%;
  }
}

.home__consulente, .home__gastvrouw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 24px;
}

.home__consulente .home__img, .home__gastvrouw .home__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  position: absolute;
  z-index: -2;
  overflow: hidden;
}

.home__consulente .home__text, .home__gastvrouw .home__text {
  width: 672px;
  background-color: rgba(255, 255, 255, 0.7);
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.home__consulente .home__text__title, .home__gastvrouw .home__text__title {
  color: #be7479;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 48px;
}

.home__consulente .home__text__p, .home__gastvrouw .home__text__p {
  font-size: 1.1rem;
  margin-bottom: 48px;
}

@media only screen and (max-width: 1200px) {
  .home__consulente .home__text, .home__gastvrouw .home__text {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 24px;
    width: 672px;
  }
  .home__consulente .home__text__title, .home__gastvrouw .home__text__title {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 24px;
  }
  .home__consulente .home__text__p, .home__gastvrouw .home__text__p {
    font-size: 1rem;
    margin-bottom: 24px;
  }
  .home__consulente .home__text a, .home__gastvrouw .home__text a {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    padding: 12px 16px;
  }
}

.home__consulente .home__text {
  margin-left: auto;
  padding: 24px var(--side-margin) 24px 24px;
}

.home__gastvrouw .home__text {
  padding: 24px 24px 24px var(--side-margin);
}

.home__gastvrouw .home__img {
  right: 0;
}

.fade, .fade--top {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10vw;
  z-index: -1;
  max-height: 160px;
}

.fade {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(white));
  background-image: linear-gradient(transparent, white);
  bottom: -1px;
}

.fade--top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(transparent));
  background-image: linear-gradient(white, transparent);
  top: -1px;
}

.fade--small {
  height: 5vw;
  max-height: 64px;
}

.button--white {
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 700;
  padding: 16px 24px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  -webkit-transition: background-color 200ms, -webkit-box-shadow 200ms;
  transition: background-color 200ms, -webkit-box-shadow 200ms;
  transition: box-shadow 200ms, background-color 200ms;
  transition: box-shadow 200ms, background-color 200ms, -webkit-box-shadow 200ms;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.button--white:hover {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button--white {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.button--white:hover {
  background-color: #fafafa;
}

.header {
  width: 100%;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 var(--side-margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.header__logo {
  height: 48px;
}

.header__nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header__nav__a, .header__nav__a--active {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  padding: 0 16px;
  color: black;
  -webkit-transition: color 200ms, background-color 200ms;
  transition: color 200ms, background-color 200ms;
  position: relative;
  text-decoration: none;
  background-color: white;
}

.header__nav__a:after, .header__nav__a--active:after {
  height: 0px;
  -webkit-transition: height 200ms, background-color 200ms;
  transition: height 200ms, background-color 200ms;
  display: block;
  content: "";
  background-color: #ad5258;
  width: calc(100% - 4px);
  position: absolute;
  bottom: 0;
  left: 2px;
}

.header__nav__a--active {
  color: #ad5258;
}

.header__nav__a--active:after, .header__nav__a:hover:after, .header__nav__a--active:hover:after {
  height: 2px;
}

.header__nav__a:hover, .header__nav__a--active:hover {
  color: #8b4146;
}

.header__nav__a:hover:after, .header__nav__a--active:hover:after {
  background-color: #8b4146;
}

.banner {
  width: 100%;
  height: calc(100vh - 64px* 2);
  padding: var(--side-margin);
  position: relative;
}

.banner__background {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  overflow: hidden;
}

.banner__logo {
  width: 150px;
  -webkit-filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
  margin-bottom: 24px;
}

.banner__title {
  font-size: 2rem;
  color: white;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 10em;
}

.home__consulente, .home__gastvrouw {
  width: 100%;
  height: 90vh;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */