$font-stack--montserrat: "Montserrat", sans-serif;
$font-stack--open-sans: "Open Sans", sans-serif;

$sizes: 0.25 0.5 0.75 1 1.5 2 2.5 3 4 5 6 8 10 12 14 16 20 24 30 36 42 48 56 64 72 80 88 96 104;

$base: 16;

@function size($size) {
    @return $base * nth($sizes, $size)px;
}

@function size-rem($size) {
    @return nth($sizes, $size)rem;
}

$header__height: 100px;
$header__logo__height: 60px;
$header__nav__a__font-size: 2rem;

$fade-to-white__size: 150px;

$banner__title__font-size: 3.2rem;

$home__text-container__h1__font-size: 6rem;
$home__text-container__p__font-size: 2rem;
$home__text-container__button__font-size: 1.6rem;

$margin--very-big: 80px;
$margin--big: 40px;
$margin--medium: 20px;
$margin--small: 10px;

$side-margin: 7.5%;

$light-green: hsl(14, 18%, 85%);
$green: hsl(14, 18%, 74%);
