@import "reset";
@import "variables";
@import "colors";

//views
@import "views/home";

//components
@import "components/fade-to-white";
@import "components/buttons";
@import "components/header";
@import "components/banner";


%fullscreen {
    width: 100%;
    height: 90vh;
}

body {
    font-family: $montserrat;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
