$green-200: hsl(14, 18%, 85%);
$green-300: hsl(14, 18%, 74%);
$green-500: hsl(14, 18%, 65%);
$green-700: hsl(14, 18%, 55%);

$primary-500: hsl(356, 36%, 60%);
$primary-700: hsl(356, 36%, 50%);
$primary-900: hsl(356, 36%, 40%);

$secondary-500: hsl(212, 36%, 54%);

$tertiary-500: hsl(183, 38%, 37%);

$white-300: hsla(0, 0, 100, 0.7);

$gray-100: hsl(0, 0, 98);
$gray-200: hsl(0, 0, 94);
$gray-300: hsl(0, 0, 92);
$gray-400: hsl(0, 0, 89);
$gray-500: hsl(0, 0, 85);
$gray-700: hsl(0, 0, 75);
$gray-800: hsl(0, 0, 65);
$gray-900: hsl(0, 0, 55);

$black-100: hsl(0, 0, 40);
$black-500: hsl(0, 0, 20);
$black-700: hsl(0, 0, 10);
$black-800: hsl(0, 0, 5);
$black-900: hsl(0, 0, 0);
