.contact {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: size(9) var(--side-margin);
    .h2 {
        margin-bottom: size(5);
    }
}
