.header {
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    padding: 0 var(--side-margin);
    display: flex;
    align-items: center;
    z-index: 1000;
    &__logo {
        height: size(8);
    }
    &__nav {
        margin-left: auto;
        display: flex;
        height: 100%;
        &__a {
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            height: size(9);
            padding: 0 size(4);
            color: black;
            transition: color $animation-time, background-color $animation-time;
            position: relative;
            text-decoration: none;
            background-color: white;
            &:after {
                height: 0px;
                transition: height $animation-time, background-color $animation-time;
                display: block;
                content: "";
                background-color: $primary-700;
                width: calc(100% - 4px);
                position: absolute;
                bottom: 0;
                left: 2px;
            }
            &--active {
                @extend .header__nav__a;
                color: $primary-700;
            }
            &--active,
            &:hover {
                &:after {
                    height: 2px;
                }
            }
            &:hover {
                color: $primary-900;
                &:after{
                    background-color: $primary-900;
                }
            }
        }
    }
}
