%home {
    @extend %fullscreen;
    display: flex;
    position: relative;
    margin-bottom: size(5);
    .home {
        &__img {
            object-fit: cover;
            height: 100%;
            position: absolute;
            z-index: -2;
            overflow: hidden;
        }

        &__text {
            width: size(21);
            background-color: $white-300;
            align-self: center;
            display: flex;
            flex-direction: column;
            box-sizing: content-box;
        }
    }
}

@media only screen and (max-width: 1200px) {
    %home-1200 {
        .home {
            &__text {
                align-self: flex-end;
                margin-bottom: size(5);
                width: size(20);
            }
        }
    }

    .home {
        &__consulente {
            @extend %home-1200;
        }
        &__gastvrouw {
            @extend %home-1200;
        }
    }
}

.home {
    &__consulente {
        @extend %home;
        .home {
            &__text {
                margin-left: auto;
                padding: size(5) var(--side-margin) size(5) size(5);
            }
        }
    }
    &__gastvrouw {
        @extend %home;
        .home {
            &__text {
                padding: size(5) size(5) size(5) var(--side-margin);
            }
            &__img {
                right: 0;
            }
        }
    }
}
